.button-container{
    height:100%;
    flex:50%;
    display:flex;
    flex-direction:row-reverse;
}

#upcoming{
    display:none;
}

.guidance-upcoming-container{
    background-color: #521818;;
    height:97%;
    width:90%;
    margin:auto;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.guidance-button-container{
    height:100%;
    width:100%;
}

.guidance-button-container div{
    height:95%;
    background-color:#521818;
    border-radius:10px;
    display:flex;
    justify-content: center;
    text-decoration: none;
    padding:3px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:30px;
    cursor:pointer;
}

.guidance-button-container img{
    height:50%;
    width:100%;
    object-fit: contain;
}

.guidance-button-container p{
    visibility:hidden;
    height:0%;
    width:0%;
    justify-content: center;
    display:flex;
    align-items:center;
    color:white;
}

@media (min-width: 1180px) {
    #upcoming{
        display:flex;
    }
}

@media (min-width:630px) {
    .guidance-button-container p{
        visibility:visible;
        height:10%;
        width:100%;
      }
}




.guidance-button-container div:hover{
    background-color: #9c4444;
}

.upcoming-sessions-window{
    flex:85%; 
    width:90%; 
    background-color:white; 
    margin-bottom:30px;
    padding:5px;
    padding-top:0px;
    overflow:auto;
}

.upcoming-sessions-window div{
    border-radius:15px;
    background-color:white;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
    height:200px;
    border:solid black 1px;
    box-shadow: 2px 5px 10px grey;
    padding:10px;
    padding-top:1px;
    padding-bottom:1px;
    white-space: nowrap;
    overflow:auto;
}

/* Add Guidance Record */

.add-session-window{
    height:2000px;
}

#filler{
    display:none;
}

@media (min-width: 768px) {
    .add-session-window{
        height:90%;
    }
    #filler{
        display:block;
    }
}

.guidance-add-container{
    width:100%;
    display:flex;
    align-items:left;
    justify-content: center;
    flex-direction:column;
}

.guidance-add-container p{
    margin:0px;
    margin-left:10px;
    font-size:25px;
    font-weight: 500;
}

.guidance-add-container input{
    margin:auto;
}

.session-container{    
    height:95%;
    width:100%;
    margin:auto;
    padding:5px;
    display:flex;
    flex-direction: column;
    border-radius: 3px;
}

.session-container p{    
    font-size:25px;
    margin-bottom:5px;
}

.session-student-list{
    background-color:white;
    outline:solid black 1px;
    width:90%;
    flex:85%;
    margin:auto;
}

/* Tables */

.session-student-table{
    width:100%;
    border-collapse:separate;
    border-spacing:2px;
}

.session-student-table tr{
    height:25px;
    padding:0px;
}

.session-student-table tr td{
    padding:0px;
    text-align: center;
}

.sessionListStudent{
    width:60%;
}

.sessionListDepartment{
    width:40%;
}

.sessionListParent{
    width:40%;
}

.sessionListRelationship{
    width:60%;
}

/* View Guidance Record */
.view-session-info{
    padding-top:5px;
    padding-left:5px;
    font-size:25px !important;
    width:90%;
    height:50px;
    background-color: white;
    overflow:hidden;
    white-space: nowrap;
    text-align: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
