html, body{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
}

.bg {
	background-image: url('https://i.imgur.com/KCfCxxe.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.custom-row{
    flex:97%;
    background-color: red;
}

.title-bar{
    flex:3%;
    min-height:80px;
    background-color: white;
    border-bottom: 6px solid darkred;
    display:flex;
    justify-content:start;
    align-items:center;
}

.not-navbar{
    flex:99%;
    display:flex;
    flex-direction: column;
}

.page-content{
    flex:97%;
}

.buttonGeneric{
    background-color: darkred;
    border-radius: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:3px;
    color:white;
    height:75%;
}

.main-window{
    background-color: pink;
    border-radius: 30px;
    border: 5px solid darkred;
}

.navbar{
    background-color: green;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    display:flex;
    flex-wrap:nowrap !important;
    flex-direction:column;
    overflow:hidden;
    background-color:#521818;
}

.navbar li{
    color:white;
    margin:0px;
    flex:10%;
    width:100%;
    min-height: 85px;
    list-style: none;
    padding:5px;
    font-size:40px;
    white-space:nowrap;
    visibility:hidden;
}

.title{
    background-color: salmon;
    padding:7px;
    margin:0px
}

.seal-container{
    background-color: seagreen;
    padding:7px;
    margin:0px;
}